---
---

<section
	class="scroll-mt-20 mx-auto py-16 px-20 lg:px-20 lg:py-20 max-w-full bg-gray-100 dark:bg-slate-900"
	id="aboutus"
>
	<div class="row px-5 max-w-8xl mx-auto text-center py-5">
		<h2 class="mb-8 text-3xl lg:text-4xl font-bold font-heading text-black dark:text-slate-50 -ml-4 text-center">
			About Us
		</h2>
		<p class="text-black dark:text-slate-50 -ml-4">
			RGX, LLC understands customers want hassle-free and cost-efficient pickup and delivery of your freight. But for
			that to happen, you need a freight broker with experience, know-how, and a solid carrier base. We get it, and
			that’s why we pride helping shippers like you save money and time on your logistic needs.
		</p>
		<p class="text-black dark:text-slate-50 -ml-4 mt-5">
			Our mission is simple: to help you get your goods where they need to be quickly, safely, and cost-effectively. We
			know that no two jobs are the same—that's why at RGX, we work with you every step of the way to find solutions
			that work for you and your business needs.
		</p>
		<p class="text-black dark:text-slate-50 -ml-4 mt-5">
			For more information, check out our services page and see what our team can do for you!
		</p>
	</div>
</section>
