---
---

<section class="scroll-mt-20 mx-auto py-16 px-16 lg:px-20 lg:py-20 max-w-full bg-gray-100 dark:bg-slate-500" id="aboutus">
	<div class="row">
		<h2 class="mb-8 text-3xl lg:text-4xl font-bold font-heading text-black dark:text-slate-50 -ml-4">About Us</h2>
		<p class="text-md text-black dark:text-slate-50 -ml-4">
			RGX, LLC understands customers want hassle-free and cost-efficient pickup and delivery of your freight. But for
			that to happen, you need a freight broker with experience, know-how, and a solid carrier base. We get it, and
			that’s why we’ve been helping shippers like you save money and time on logistics for the past 30 years.
		</p>
	</div>
</section>
