---
---

<section class="scroll-mt-20" id="contact">
	<div class="w-full px-4 py-16 mx-auto lg:px-8 lg:py-20 bg-slate-800">
		<div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
			<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter text-white mb-4 font-heading">
				Contact Us
			</h2>
			<p class="max-w-3xl mx-auto sm:text-center text-xl text-white">
				Contact us today for a free quote, and let us show you how we can help you with your freight needs.
			</p>
			<p class="max-w-3xl pt-5 font-semibold mx-auto sm:text-center text-xl text-white">
				Need help right now? Give us a call: <a class="underline" href="tel:8447470636">844-747-0636</a>
			</p>
		</div>
		<div class="grid mx-auto max-w-6xl justify-content-center space-y-6">
			<form
				class="justify-content-center mx-auto w-full md:px-6 sm:px-6 xs:px-6"
				action="https://formspree.io/f/xkneybqk"
				method="POST"
			>
				<div class="flex flex-wrap -mx-3 mb-6">
					<div class="w-full px-3 md:mb-1">
						<label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="grid-department"
							>Department (Required) *</label
						>
						<select
							id="grid-department"
							name="Department"
							class="appearance-none block w-full bg-white text-gray-900 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-1 focus:bg-white"
						>
							<option selected>Department</option>
							<option value="Administration">Administration</option>
							<option value="Carrier Relations">Carrier Relations</option>
							<option value="Driver & Owner-Operator Recruiting">Driver & Owner-Operator Recruiting</option>
							<option value="Maintenance">Maintenance</option>
							<option value="Operations">Operations</option>
							<option value="Employment - Office">Employment - Office</option>
							<option value="Safety">Safety</option>
							<option value="Sales">Sales</option>
						</select>
					</div>
				</div>
				<div class="flex flex-wrap -mx-3 mb-6">
					<div class="w-full px-3 md:mb-0">
						<label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="grid-fullname"
							>Full Name (Required) *</label
						>
						<input
							class="appearance-none block w-full bg-white text-gray-900 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-1 focus:bg-white"
							id="grid-fullname"
							type="text"
							name="Full Name"
							required
							placeholder="John Smith"
						/>
					</div>
				</div>
				<div class="flex flex-wrap -mx-3 mb-6">
					<div class="w-full md:w-1/2 px-3 md:mb-0">
						<label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="grid-address1"
							>Address 1</label
						>
						<input
							class="appearance-none block w-full bg-white text-gray-900 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-1 focus:bg-white"
							id="grid-address1"
							name="Address 1"
							type="text"
							placeholder="123 Main Street"
						/>
					</div>
					<div class="w-full md:w-1/2 px-3">
						<label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="grid-address2">
							Address 2
						</label>
						<input
							class="appearance-none block w-full bg-white text-gray-900 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-1 focus:bg-white focus:border-gray-500"
							id="grid-address2"
							name="Address 2"
							type="text"
							placeholder="Suite 1"
						/>
					</div>
				</div>
				<div class="flex flex-wrap -mx-3 mb-6">
					<div class="w-full xs:w-full sm:w-full md:w-full lg:w-1/3 xl:w-1/3 px-3 mb-6">
						<label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="grid-city">City</label>
						<input
							class="appearance-none block w-full bg-white text-gray-900 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-1 focus:bg-white"
							id="grid-city"
							name="City"
							type="text"
							placeholder="New York"
						/>
					</div>
					<div class="w-full xs:w-full sm:w-full md:w-full lg:w-1/3 xl:w-1/3 px-3 mb-6">
						<label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="grid-state">
							State
						</label>
						<input
							class="appearance-none block w-full bg-white text-gray-900 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-1 focus:bg-white focus:border-gray-500"
							id="grid-state"
							name="State"
							type="text"
							placeholder="NY"
						/>
					</div>
					<div class="w-full xs:w-full sm:w-full md:w-full lg:w-1/3 xl:w-1/3 px-3">
						<label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="grid-zip">
							Zip Code
						</label>
						<input
							class="appearance-none block w-full bg-white text-gray-900 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-1 focus:bg-white focus:border-gray-500"
							id="grid-zip"
							name="Zip Code"
							type="number"
							placeholder="11111"
						/>
					</div>
				</div>
				<div class="flex flex-wrap -mx-3 mb-6">
					<div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
						<label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="grid-phonenumber">
							Phone Number
						</label>
						<input
							class="appearance-none block w-full bg-white text-gray-900 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-1 focus:bg-white"
							id="grid-name"
							name="Phone Number"
							type="tel"
							placeholder="123-456-7890"
						/>
					</div>
					<div class="w-full md:w-1/2 px-3">
						<label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="grid-email">
							Email
						</label>
						<input
							class="appearance-none block w-full bg-white text-gray-900 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-1 focus:bg-white focus:border-gray-500"
							id="grid-email"
							name="Email"
							type="email"
							placeholder="email@email.com"
						/>
					</div>
				</div>
				<div class="flex flex-wrap -mx-3 mb-6">
					<div class="w-full px-3">
						<label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="grid-password">
							Message
						</label>
						<textarea
							class="no-resize appearance-none block w-full bg-white text-gray-900 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-1 focus:bg-white focus:border-gray-500 h-48 resize-none"
							id="message" name="Message"></textarea>
					</div>
				</div>

				<div class="w-full block">
					<button
						class="btn text-white border border-primary-600 bg-primary-600 hover:bg-primary-800 hover:border-primary-800 sm:mb-0 w-full"
						type="button"
					>
						Send
					</button>
				</div>
			</form>
		</div>
	</div>
</section>
