---
---

<footer class="border-t text-center mx-auto border-gray-200 dark:border-slate-800">
	<div>
		<div class="mx-auto py-6 md:py-8 px-9 text-center">
			<div class="text-sm text-center text-gray-700 mr-4 dark:text-slate-400">
				&copy; RGX, LLC. All rights reserved.
			</div>
		</div>
	</div>
</footer>
