---
import Picture from '~/components/core/Picture.astro';
---

<span class="">
	<Picture
		class="inset-0 ml-5 p-1 object-cover object-center md:h-full"
		src={import('~/assets/images/logo.jpg')}
		widths={[125]}
		sizes="125px"
		alt="Van Driving"
		aspectRatio="21:9"
		loading="eager"

	/>
</span>
